.container {
  display: grid;
  grid-template-columns: 1fr 2 1fr;
  grid-template-rows: 100px 1fr 1fr;
  height: 95vh;
  width: 95vw;
}

.container > div {
  background-color: aquamarine;
  border: 2px solid black;
}

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 1fr;
}

.branding {
  grid-area: 1 / 1 / 2 / 2;
}

.navigation {
  grid-area: 2 / 1 / 3 / 2;
  background-color: yellow;
}

.support {
  grid-area: 3 / 1 / 4 / 2;
  background-color: purple;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 50px 50px;
}

.header > div {
  border: 2px solid black;
}

.searchbar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searchbar > input {
  width: 70%;
}
.searchbar > button {
  border: 0px;
  background: none;
  color: black;
}

.user {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.greeting {
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 25px 25px;
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  justify-content: center;
  align-content: center;
}

.greeting > i {
  grid-area: a;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.greetingGeneric {
  grid-area: b;
  margin: 0;
  align-self: center;
  justify-self: left;
}

.greetingUsername {
  grid-area: c;
  margin: 0;
  align-self: center;
  justify-self: left;
}

.inputs {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
}

.projects {
  grid-area: 2 / 2 / 4 / 4;
}

.announcements {
  grid-area: 2 / 4 / 3 / 5;
}

.trending {
  grid-area: 3 / 4 / 4 / 5;
}
