:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-theme-text);
  --main-theme-dark: #7fc9aa;
  --main-theme: #8ee2bf;
  --main-theme-light: #caf2e1;
  --main-theme-text: #3a3b3c;
  --secondary-theme: #f4f4f4;
  --highlight-theme: #e30b5c;
  --highlight-theme-two: #967bb6;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  height: 100vh;
}
/*
.container > div {
  border: 2px solid var(--main-theme-dark);
}*/

.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  background-color: var(--main-theme);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr;
  z-index: 100;
  box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.5);
}

.branding {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--main-theme);
  display: flex;
  align-items: center;
  justify-content: center;
}
.branding > h3,
.branding > i {
  margin: 5px;
}

.navigation {
  z-index: 100;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.navigation,
.support {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding-left: 10%;
}

.navigation > p > i,
.support > p > i {
  width: 30px;
}

.support {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--main-theme-dark);
  justify-content: flex-start;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 50px 50px;
  background-color: var(--main-theme-light);
  z-index: 100;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.searchbar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searchbar > input {
  width: 70%;
  border-radius: 15px;
  margin-left: 5%;
  border: 0;
}

.searchbar > input:focus {
  caret-color: var(--highlight-theme);
  outline: none !important;
  border: 3px solid var(--highlight-theme);
}

.searchbar > button {
  border: 0px;
  background: none;
  color: black;
}

.user {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}

.user > i {
  padding: 0 5% 0 0;
}

.greeting {
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 25px 25px;
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  justify-content: center;
  align-content: center;
}

.greeting > i {
  grid-area: a;
  align-self: center;
  justify-self: right;
  margin-right: 10%;
}

.greetingGeneric {
  grid-area: b;
  margin: 0;
  align-self: center;
  justify-self: left;
  font-size: 0.75rem;
}

.greetingUsername {
  grid-area: c;
  margin: 0;
  align-self: center;
  justify-self: left;
  padding-bottom: 15px;
}

.inputs {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}

.inputs > i {
  width: 30px;
}

.projects,
.announcements,
.trending {
  background-color: var(--secondary-theme);
}

.projects {
  grid-area: 2 / 2 / 4 / 4;
}

.projects > p {
  padding: 0 5%;
  font-weight: bold;
}

.projectsGrid {
  resize: both;
  overflow: auto;
  display: grid;
  gap: 1rem;
  padding: 0 5% 5% 5%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projectsGrid > div {
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: start;
  border-left: 3px solid var(--highlight-theme);
}

.announcements {
  grid-area: 2 / 4 / 3 / 5;
}
.announcementsGrid,
.trendingGrid {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, minmax(100px, 1fr));
}

.announcements > p,
.trending > p {
  padding: 0 5%;
  font-weight: bold;
}

.announcementsGrid > div,
.trendingGrid > div {
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: start;
  border-left: 3px solid goldenrod;
  display: flex;
  flex-direction: column;
}

.trendingGrid > div {
  border-left: 3px solid var(--highlight-theme-two);
}

.trending {
  grid-area: 3 / 4 / 4 / 5;
}

.projectsTitle,
.announcementsTitle,
.trendingTitle {
  font-weight: bold;
  padding: 2% 0 0 2%;
  margin: 0;
}

.content {
  font-size: 0.9rem;
  padding: 2%;
  margin: 0;
}

.projectFlex {
  display: flex;
  flex-direction: column;
}

.projectFlex > i {
  margin-top: auto;
  align-self: flex-end;
  width: 20px;
  height: 20px;
}
